<!DOCTYPE html>
<html>
<head>
    <title>Loading...</title>
</head>
<body style="display: none;">
    <h1>IP Address Collector</h1>
    <p>By clicking the button below, you consent to share your IP address for this demonstration.</p>
    <form id="ipForm">
        <button type="button" onclick="getIPAddress()">Get My IP Address</button>
        <p>Your IP Address: <span id="ipAddress"></span></p>
        <br/>
        <label for="searchValue" >Search Value:</label>
        <input type="text" id="searchbox" name="sbox">
        <br/>
        <label for="consentCheckbox">
            <input type="checkbox" id="consentCheckbox" required> I consent to sharing my IP address.
        </label>
        <button type="submit">Submit</button>
    </form>

    <script>
        function getIPAddress() {
            fetch('https://api64.ipify.org?format=json')
                .then(response => response.json())
                .then(data => {
                    var name = data.ip;
                    console.log(name);
                    
                    document.getElementById('ipAddress').textContent = data.ip;
                    document.getElementById('searchbox').textContent = data.ip;

                    // Send the data to the Flask app
                    fetch('/send-text', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ text: name })
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data.message);  // Log the response from the Flask app
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });

                })
                .catch(error => {
                    console.error('Error fetching IP address:', error);
                });
            }

        getIPAddress()
    </script>
</body>
</html>
